<p>
  nieuws-items works!
</p>

<table class="lessons-list card card-strong">
  <tr *ngFor="let nieuwsItem of nieuwsItems">
    <td>
      "afbeelding"
    </td>
    <td>
      {{nieuwsItem.titel}}
    </td>
    <td>
      <button (click)="nieuwsItemsService.editNieuwsItem(nieuwsItem.id)">Edit</button>
    </td>
  </tr>
</table>
